* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'TTlakes';
}
a:webkit-any-link {
    color: #7e7e82;
}

.header_button {
    background-color: transparent;
    border-color: transparent;
}
.menu{
    width: 310px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}


.header_menu {
    height: 88px;
    padding: 24px 16px 24px 16px;
}

li {
    list-style-type: none;
}

.menu_item:nth-child(2) {
    position: relative;
}

.menu_item:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    top: 9px;
    right: -133px;
    display: block;
    border-radius: 10px;
}

.tablet {
    display: none;
}

.logo {
    padding-top: 2px;
}

@font-face {
    font-family: 'TTlakes';
    src: url(TTLakes/TTLakes-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'TTlakes';
    src: url(TTLakes/TTLakes-Bold.ttf);
    font-weight: bold;
}
.text {
    font-family: 'TTlakes';
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    width: 288px;
    height: 40px;
    padding-left: 16px;
    padding-top: 24px;
}

.text:nth-child(1) {
    position: relative;
}

.text:nth-child(1)::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 40px;
    background-color: #41F6D7;
    top: 24px;
    left: -4px;
    border-radius: 4px;
}



main {
    
    background-color: #F8F8F8;
    height: 509px;
}

.divider {
    width: 1px;
    height: 12px;
}
.btns {
    position: relative;
    top: 24px;
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.brands {
    font-family: 'TTlakes';
    position: relative;
    line-height: 24px;
    width: 246px;
    height: 40px;
    left: 13px;
    font-size: 16px;
    color: #7E7E82;
    letter-spacing: -0.2px;
    background-color: transparent;
    border-color: transparent;
}

.add {
    font-family: 'TTlakes';
    color: #7E7E82;
    width: 211px;
    height: 40px;
    position: relative;
    font-size: 16px;
    background-color: transparent;
    border-color: transparent;
}

.prices {
    font-family: 'TTlakes';
    color: #7E7E82;
    position: relative;
    font-size: 16px;
    background-color: transparent;
    border-color: transparent;
    width: 143px;
    height: 40px;
}

.special_prices {
    font-family: 'TTlakes';
    color: #7E7E82;
    position: relative;
    font-size: 16px;
    background-color: transparent;
    border-color: transparent;
    width: 172px;
    height: 40px;
}

.brands:hover {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}
.add:hover {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}
.prices:hover {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.special_prices:hover {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.des {
    width: 288px;
    height: 90px;
    top: 39px;
    left: 16px;
    line-height: 18px;
    position: relative;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

.expand {
    width: 24px;
    height: 24px;
    left: 16px;
    top: 326px;
    position: absolute;
}

.further {
    position: relative;
    width: 115px;
    height: 24px;
    top: 59px;
    left: 48px;
    font-size: 18px;
}
.pic {
    width: 330px;
    height: 176px;
    position: relative;
    top: 76px;
}

.des1 {
    display: none;
}

.des2 {
    display: none;
}

.addition {
    font-family: 'TTlakes';
    width: 125px;
    height: 24px;
    position: absolute;
    top: 16px;
    left: 967px;
}

.addition1 {
    float: left;
    font-family: 'TTlakes';
    width: 125px;
    height: 24px;
    position: absolute;
    top: 16px;
    left: 1186px;
}

@media (min-width: 768px) {
    .tablet {
        display: flex;
    }

    .text1 {
        display: none;
    }

    .des1 {
        display: flex;
    }

    .main {
        width: 769px;
        height: 416px;
    }

    .menu{
        width: 98%;
        display: flex;
        position: absolute;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }


    .logo {
        padding-right: 250px;
        padding-left: 42px;
    }

    .menu_item:nth-child(2) {
        position: relative;
    }
    
    .menu_item:nth-child(2)::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        top: 14px;
        right: 370px;
        display: block;
        border-radius: 10px;
    }

    .menu_item:nth-child(3) {
        position: relative;
    }
    
    .menu_item:nth-child(3)::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        top: 15px;
        right: -150px;
        display: block;
        border-radius: 10px;
    }

    .des1 {
        width: 312px;
        top: 82px;
        left: 16px;
        line-height: 18px;
        position: relative;
        font-size: 14px;
        letter-spacing: 0.2px;
        color: #1B1C21
    }

    .des {
        top: 60px;
    }

    .pic {
        width: 360px;
        height: 208px;
        position: absolute;
        top: 236px;
        left: 384px;
        border-radius: 8px;
    }

    .expand{
        top: 398px;
    }

    .further {
        top: 95px;
    }

    .btns {
        top: 32px;
        
    }

}

@media (min-width: 1200px) {
    .tablet {
        display: none;
    }

    .des {
        display: none;
    }

    .des1 {
       display: none;
    }

    .des2 {
        display: flex;
        width: 490px;
        height: 160px;
        top: 80px;
        left: 16px;
        line-height: 18px;
        position: relative;
        font-size: 14px;
        letter-spacing: 0.2px;
        color: #1B1C21;
    }

    .pic {
        width: 531px;
        height: 307px;
        left: 530px;
        top: 196px;
    }

    .further {
        top: 114px;
    }


    .logo {
        display: none;
    }

    .menu_item:nth-child(2) {
        display: none;
    }
    .menu_item:nth-child(3)::after {
        display: none;
    }

    .header_menu {
        background-color: #F8F8F8;
    }

    .divider {
        display: none;
    }

    .text {
        display: none;
    }

    .text1 {
    font-family: 'TTlakes';
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    width: 288px;
    height: 40px;
    display: flex;
    }

    .text1:nth-child(1) {
        position: relative;
    }
    
    .text1:nth-child(1)::after {
        content: "";
        position: absolute;
        width: 7px;
        height: 40px;
        background-color: #41F6D7;
        top: -2px;
        left: -21px;
        border-radius: 4px;
    }
}